.chat-container {
    padding: 20px;
    background-color: #f7f7f7;
    max-width: 800px;
    margin: 0 auto;
}

.message-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.message-row.received {
    justify-content: flex-start;
}

.message-row.sent {
    justify-content: flex-end;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-box {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    background-color: #e1ffc7; /* Para los mensajes recibidos */
    color: #000;
}

.message-row.sent .message-box {
    background-color: #dcf8c6; /* Color para los mensajes enviados */
    text-align: right;
}

.message-box p {
    margin: 0;
}
